body {
    margin: 0;
    padding: 0;
}

button{
    margin-bottom: 15px;
    width: 100px;
    height: 28px;
    color: aqua;
    border-radius: 5px;
}

button:hover{
    color: rgb(58, 8, 104);
    box-shadow: 10px 6px 10px 5px  rgb(236, 196, 196);
}

.center{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.data{
    box-sizing: border-box;
    width: 25%;
    height: 50%;
    padding: 20px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    border-radius: 5px;
}

.data input{
    width: 80%;
    margin-bottom: 25px;
    height: 28px;
    border-radius: 5px;
}

.data a {
    margin-bottom: 15px;
}

.message {
    position: absolute;
    opacity: 0;
    top: 10px;
    right: 10px;
    width: 180px;
    height: 70px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #023104;
    background-color: #28b82d;
    animation: fadeOut;
    animation-duration: 10s;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
    }
